.emphasis {
	font-style: italic;
}

.readnav {
	width: 100%;
	text-align: center;
}

.readnavleft {
	text-align: left;
	position: absolute;
	left: 0;
}

.readnavcenter {
	display: inline;
}

.readnavright {
	text-align: right;
	position: absolute;
	right: 0;
}

.readtext {
	white-space: pre-wrap;
}

.bottompadding {
	height: 40px;
}

.bottomreadnav {
	position: fixed;
	left: 0px;
	bottom: 0px;
	z-index: 5;
}

hr {
	margin: 0 0 0 0;
}
