body {
 	color: white;
	background-color: black;
	position: relative;
	font-family: Arial,Helvetica,sans-serif;
	overflow: auto;
}

a:link {
	color: lime;
	text-decoration: none;
}

a:active {
	color: lime;
	text-decoration: none;
}

a:visited {
	color: lime;
	text-decoration: none;
}

.italic {
	font-style: italic;
}

.bold {
	font-weight: bold;
}

.underline {
	text-decoration: underline;
}

.lemontext {
	color: red;
}

.searchtext {
	color: yellow;
	font-weight: bold;
}

table {
	border: none;
	border-spacing: 5px;
}

.main {
	width: 100px;
}

form input.focus, form textarea.focus {
	border-color: red;
	color: #000;
}

.bottomreadnav {
	background-color: black;
}

.emphasis {
	font-style: italic;
}

hr {
	margin: 0 0 0 0;
}

.chaptertable .chapnameheader {
	text-align: left;
}

.chaptertable .chapviews {
	text-align: center;
}

.chaptertable .chapwordcount {
	text-align: center;
}

.label {
	color: DarkGray;
}
