body {
 	color: #212126;
	background-color: #e8e6e2;
	position: relative;
	font-family: Corbel, 'Helvetica Neue', Arial, sans-serif;
	font-size: 19px;
	overflow: auto;
}

select {
	font-size: 19px;
}

input {
	font-size: 16px;
}

a:link {
	color: #365084;
	text-decoration: none;
}

a:active {
	color: #365084;
	text-decoration: none;
}

a:visited {
	color: #365084;
	text-decoration: none;
}

.italic {
	font-style: italic;
}

.bold {
	font-weight: bold;
}

.underline {
	text-decoration: underline;
}

.lemontext {
	color: red;
}

.searchtext {
	color: yellow;
	font-weight: bold;
}

table {
	border: none;
	border-spacing: 5px;
}

.main {
	width: 100px;
}

.readtext {
	padding: 0px 96px 0px 96px;
}

.readnav {
	background-color: #dbd9d5;
	border-bottom: 2px solid #c1bebb;
	padding: 4px 2px 4px 2px;
}

.bottomreadnav {
	background-color: #dbd9d5;
	border-top: 2px solid #c1bebb;
	padding: 4px 2px 4px 2px;
}

.breakline {
	margin: 24px 0px 24px 0px;
	border-top: 2px solid #c1bebb;
}

.emphasis {
	font-style: italic;
}

hr {
	margin: 0 0 0 0;
}

.chaptertable .chapnameheader {
	text-align: left;
}

.chaptertable .chapviews {
	text-align: center;
}

.chaptertable .chapwordcount {
	text-align: center;
}

.label {
	color: #5d5d52;
}
