body {
 	color: #cdd2d8;
	background-color: #272c30;
	position: relative;
	font-family: minion-pro-1, minion-pro-2, Palatino, Georgia, 'Times New Roman', serif;
	font-size: 19px;
	overflow: auto;
}

a:link {
	color: #28b3ed;
	text-decoration: none;
}

a:active {
	color: #28b3ed;
	text-decoration: none;
}

a:visited {
	color: #28b3ed;
	text-decoration: none;
}

.italic {
	font-style: italic;
}

.bold {
	font-weight: bold;
}

.underline {
	text-decoration: underline;
}

.lemontext {
	color: red;
}

.searchtext {
	color: yellow;
	font-weight: bold;
}

table {
	border: none;
	border-spacing: 5px;
}

.main {
	width: 100px;
}

.readtext {
	padding: 0px 96px 0px 96px;
}

.readnav {
	background-color: #21252a;
	border-bottom: 2px solid #1e2126;
	padding: 4px 2px 4px 2px;
}

.bottomreadnav {
	background-color: #21252a;
	border-top: 2px solid #1e2126;
	padding: 4px 2px 4px 2px;
}

.emphasis {
	font-style: italic;
}

hr {
	margin: 0 0 0 0;
}

.chaptertable .chapnameheader {
	text-align: left;
}

.chaptertable .chapviews {
	text-align: center;
}

.chaptertable .chapwordcount {
	text-align: center;
}

.label {
	color: #95a5b5;
}
