body {
 	color: black;
	background-color: white;
	position: relative;
	font-family: Georgia,"Times New Roman",Times,serif;
	overflow: auto;
}

a:link {
	color: blue;
	text-decoration: none;
}

a:active {
	color: blue;
	text-decoration: none;
}

a:visited {
	color: blue;
	text-decoration: none;
}

.italic {
	font-style: italic;
}

.bold {
	font-weight: bold;
}

.underline {
	text-decoration: underline;
}

.lemontext {
	color: red;
}

.searchtext {
	color: yellow;
	font-weight: bold;
}

table {
	border: none;
	border-spacing: 5px;
}

.main {
	width: 100px;
}

form input.focus, form textarea.focus {
	border-color: blue;
	color: #111;
}

.bottomreadnav {
	background-color: white;
}
